@charset "UTF-8";

@font-face {
    font-family:'lol';
    src: url('fonte/League.otf') format('opentype');
}

@font-face{
    font-family:'arabe';
    src: url('fonte/arabe.ttf') format('opentype');
}
:root {
    --cor-fundo: #054c4c;
    --cor-destaque: #0c1c21;
    --cor-caixa: #096396;
    --cor-fonte: #daa656;

    --font-padrao: Arial, Helvetica, sans-serif;
    --font-lol: 'lol', arial;
    --font-arabe: 'arabe', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body { 
    font-family: var(--font-padrao);
    background-color: #14313a75;
}

header {
    background-color: var(--cor-caixa);
    padding: 10px;
    font-family: var(--font-arabe);
}

header h1 {
    color: var(--cor-fonte);
    text-align: center;
    padding: 20px;
}

header p {
    color: var(--cor-fonte);
    font-family: var(--font-padrao);
    text-align: center;
    font-weight: bold;
}

header ul {
    list-style-type: none;
    text-align: center;
    padding: 10px;
}

header ul li {
    color: var(--cor-fonte);
    display: inline;
    margin: 0 10px;
    font-weight: bold;
}

nav {
    background-color: var(--cor-caixa);
    padding: 10px;
}

nav a {
    color: var(--cor-fonte);
    text-decoration: none;
    font-family: var(--font-arabe);
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    transition-duration: 0.5s;

}

nav > a:hover{
    background-color: #06537c;
    color: #fac77b;
}

main {
    min-width: 200px;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    box-shadow: 1px 1px 50px rgba(70, 179, 206, 0.363);
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h2 {
    font-family: var(--font-lol);
    font-weight: normal;
    font-size: 1.3em;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 20px;
    line-height: 1.5em;
}

main strong {
    color: var(--cor-fonte);
}

main h3 {
    font-family: var(--font-lol);
    font-weight: normal;
    font-size: 1em;
    color:#83501d;
    background-image: linear-gradient(to right, #f8d299, transparent );
    text-indent: 8px;
    padding: 5px;
}

main img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: 400px;
    width: 400px;
    padding: 0px 0px 20px 0px;
}

footer {
    background-color: var(--cor-caixa);
    color: var(--cor-fonte);
    text-align: center;
    padding: 10px;
    font-family: var(--font-arabe);
    display: flex;
    justify-content: center;
}

footer a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
    padding: 0px 1px;
    padding: 10px;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}